<robot name="sensors">
    <link name="base_footprint" />
    <link name="laser" />
    <link name="imu" />
      
        <joint name="laser_joint" type="fixed">
            <parent link="base_footprint" />
            <child link="laser" />
            <origin xyz="0.40046 -0.00203 0" rpy="0 0 -0.00053" />
        </joint>
    
        <joint name="imu_joint" type="fixed">
            <parent link="base_footprint" />
            <child link="imu" />
            <origin xyz="0 0 0" rpy="0 0 0" />
        </joint>
    
    </robot>
